:root {
    --navHeight: 7rem;
    --sage: #d2cca1;
    --paleSpringBud: #dedaba;
    --goldCrayola: #e5c687;
    --richBlackForeground: #0f1a20;
    --white: #f8f8f8;
    --black: #222;
    --msuGreen: #2d4739;
    --gray: #eee;
}

.light-theme {
    --themeDropDownBg: var(--goldCrayola);
    --themeIconBorderColor: var(--sage);
    --navBg: var(--sage);
    --navLinkHoverBg: var(--paleSpringBud);
    --mainBg: var(--goldCrayola);
    --fontColor: var(--black);
}

.dark-theme {
    --themeDropDownBg: var(--msuGreen);
    --themeIconBorderColor: var(--richBlackForeground);
    --navBg: var(--richBlackForeground);
    --navLinkHoverBg: var(--msuGreen);
    --mainBg: var(--msuGreen);
    --fontColor: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: var(--fontColor);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.switch {
    width: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch div {
    position: relative;
    display: block;
    background: #eee;
    width: 3rem;
    border-radius: 5rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

.fa-adjust {
    transform: rotate(180deg);
}

.switch input {
    display: none;
}

.slider {
    background-color: #999;
    transition: 0.4s;
    border-radius: 3.4rem;
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    position: relative;
}

input:checked + .slider {
    transform: translateX(0.8rem);
}

nav {
    background: var(--navBg);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    font-size: 1.6rem;
    position: relative;
    transition: background-color 0.6s ease, color 1s ease;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: var(--navHeight);
    padding: 0 1rem;
}

nav ul li {
    padding: 1.2rem 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.6s ease, color 1s ease;
}

nav ul li:hover {
    background-color: var(--navLinkHoverBg);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    background: var(--mainBg);
    height: calc(100vh - var(--navHeight));
    transition: background-color 0.6s ease, color 1s ease;
}
